
  h2{

padding: 1% 1% 1% 1%;
font-style: oblique;

  }
b{
  margin-right: 4%;
}
span{
  margin-right:2%;
}
.sfondo {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-style: oblique;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  background-color: #c7ab0d;
  text-align: left;
  max-width: 400px; /* Puoi personalizzare la larghezza massima */
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-body {
  margin: 8px 0;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



@media (max-width: 600px) {
  .toolbar {
    
    align-items: center;
    font-size: small;
  }

  .text-container {
    text-align: center;
  }
}